@font-face {
    font-family: poppins;
    src: url("./assets/poppins/poppins-v5-latin-500.ttf");
}
@font-face {
    font-family: poppins-300;
    src: url("./assets/poppins/poppins-v5-latin-300.ttf");
}